p {
    text-align: justify;
}


.fundo-site {
    background-color: #1a1a2b; 
    background-image: url('img/FUNDO-2.png'); 
    background-size: cover; 
    background-position: center;

}
.bg-custom {
    background: linear-gradient(rgba(6, 169, 172, 0.8), rgba(6, 169, 172, 0.8)), 
                url('../img/FUNDO-COM-LOGOTIPO2.png');
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */    
    filter: contrast(1.5) saturate(1.2); /* Ajuste de contraste e saturação */
}


.nav-custom {
    font-family: 'Montserrat', sans-serif; /* Define a fonte */
    font-size: 24px; /* Define o tamanho da fonte */
    font-weight: 600; /* Semibold */
    color: white !important; /* Deixa a cor da letra branca */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra nas letras */    
}

.cabecalho {
    background-color: blue;
    background-image: url('../img/cabecalho-sem-logo.png');
    background-size: cover;
    background-position: center;
    color: white;
    height: 200px;
    position: relative;
}

.logo-inf img {
    width: 200px;
    height: auto;
}

.logo-prti img {
    width: 500px;
    height: auto;
}

.subtitulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400; 
    margin-left: 70px;
}

@media (max-width: 768px) { /* Para tablets */
    .subtitulo {
        font-size: 12px;
    }

    .logo-prti img {
        width: 400px;
        height: auto;
    }

    .logo-inf img {
        width: 200px;
        height: auto;
        position: center;
    }
}

@media (max-width: 576px) { /* Para celulares */
    .subtitulo {
        font-size: 8px;
    }

    .logo-prti img {
        width: 200px;
        height: auto;
    }

    .logo-inf img {
        width: 100px;
        height: auto;
    }
}


.carousel-item img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Garante que a imagem preencha sem distorcer */
    border-radius: 50%; /* Torna a imagem redonda */
    position: center;
}

/* Altera o icone do accordion */
.accordion-button {
    --bs-accordion-btn-icon: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/plus-lg.svg");
    --bs-accordion-btn-icon-active: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/power.svg");
    font-weight: bold;
} 